<%= form_with(model: message, url: { action: :create }, local: false) do |f| %>
    <div class="d-flex"><%= f.text_field :content, class: 'form-control rounded-0', autocomplete: 'off' %>
    <%= f.submit '送信', class: 'button button-purple w-25 rounded-0 py-1' %></div>
<% end %>