<h2 class="text-center text-purple border-bottom py-2">メッセージ一覧</h2>
<% if @meesages.nil? %>
    <% @messages.each do |message| %>
        <ul>
            <a href="<%= messages_path(message.user) %>">
                <li class="media border-bottom user-list py-2">
                    <img class="mr-2 rounded-circle" src="<%= gravatar_url(message.user, { size: 50 }) %>" alt="">
                    <div class="media-body">
                        <div>
                            <%= message.user.name %>
                        </div>
                        <div class="comment-color">
                            <%= message.content %>
                        </div>
                    </div>
                </li>
            </a>
        </ul>
    <% end %>
<% end %>