<div class="center jumbotron">
  <div class="text-center">
    <h1 class="bold fade-in">パストークへようこそ！</h1>
  </div>
</div>
<div class="row flex-around pd-side-md">
  <div class="card col-md-5 p-0 my-2">
    <div class="card-title text-center bg-light border-bottom">title</div>
    <div class="card-body">image</div>
  </div>
  <div class="card col-md-5 p-0 my-2">
    <div class="card-title text-center bg-light border-bottom">title</div>
    <div class="card-body">image</div>
  </div>
</div>