/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *=  require font-awesome
 */

/* original */
/* tag */
a {
    color: #555;
}

a:hover {
    color: #555;
    text-decoration: none;
}

header {
    box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
}

ul {
    padding-left: 0;
    list-style: none;
}

/* class etc */

.profile {
    border: 1px solid lightgray;
    height: 180px;
    border-radius: 5px;
    font-size: 18px;
    overflow-y: auto;
}

.group-content {
    height: 120px;
    background: #fafffe;
    overflow-y: auto;
}

.chat-body {
    height: 480px;
    background-color: #f3fbff;
    overflow-y: auto;
}

.group-chat-border {
    border: 1px solid #ade1ff;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}

.font-lg {
    font-size: 30px;
}

.border-bold {
    border-width: 2px;
    border-style: solid;
}

.border-bottom-bold {
    border-bottom: 2px dashed #626494;
}

.user-list:hover {
    background: #eee;
}

.not-rounded {
    border-radius: 0;
}

.pointer {
    cursor: pointer;
}

.current-user-chat, .user-chat {
    max-width: 90%;
    padding: 5px 8px;
    border-radius: 5px;
}

.current-user-chat {
    background: #c7f5cd;
}

.user-chat {
    background: #d9edff;
}

/* button */

.button {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-purple {
    background: #626494;
    color: white;
}

.button-purple:hover {
    background: #46476b;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}

.button-red {
    background: #e21a1a;
    color: white;
}

.button-red:hover {
    color: white;
    background: #c31111;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    
}

.button-border-purple {
    border: 2px solid #626494;
    border-radius: 25px;
    color: #626494;
}

.button-border-purple:hover {
    background: #626494;
    color: white;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}

/* position */

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
}

.group-sticky {
    position: sticky;
    top: 0;
    z-index: 50;
}

/* display */

.block {
    display: block;
}

/* flex */

.flex-center {
    justify-content: center;
}

.flex-bt {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.fade-in {
    animation: fadein .7s ease-in-out forwards;
}

/* color */

.bg-purple {
    background: #626494;
}

.text-purple {
    color: #626494;
}

.footer-list-color {
    color: #afafaf;
}

.comment-color {
    color: #969696;
}

.group-border-color {
    border-color: #6cb7a2;
}

.group-header {
    background: #6cb7a2;
    color: white;
}

.group-chat-header-color {
    background: #4cd1e6;   
}

/* opacity */

.header-opacity {
    opacity: 0.95;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* bootstrap */

/*.nav-link {*/
/*    padding: 1rem 1rem;*/
/*}*/

/*.nav-link:hover {*/
/*    background: rgba(255,255,255,.1);*/
/*}*/

input, textarea {
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}

.mb-6 {
    margin-bottom: 4rem;
}

.w-15 {
    width: 15%;
}

.navbar-toggler {
    border: none;
    border-radius: 100%;
    padding: .35rem .35rem;
}

.navbar-toggler:focus {
    outline: none;
}


.card {
    height: 40vh;
}

.form-control:hover {
    background: #ebecff;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
}

.form-control:focus {
    box-shadow: 0 0 3px 0.2rem rgba(0,123,255,.15);
}

textarea.form-control {
    resize: none;
    overflow-y: auto;
    height: 150px;
}

.dropdown-menu, .dropdown-item {
    padding: 0;
}

.dropdown-menu {
    box-shadow: 0 0 4px 1px rgba(0,0,0,.1);
}

.dropdown-item a {
    text-align: center;
    display: block;
    padding: .5rem 1.3rem;
}

.dropdown-item a:active {
    background: #eee;
}

/* kaminari */

.page-item.active > .page-link {
    background-color: #626494;
    border-color: #626494;
}

.page-link, .page-link:hover {
    color: #626494;
}

.page-link {
    padding: 8px 14px;
}