<footer class="mt-4">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark block">
        <ul class="navbar-nav">
            <li class="footer-list-color ml-3">利用規約</li>
            <li class="footer-list-color ml-3">クレジット</li>
        </ul>
        <div class="text-center">
            <small class="ml-auto nav-item footer-list-color">2019 &copy; created by koh</small>
        </div>
    </nav>
</footer>