<footer class="mt-4">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark block">
        <ul class="navbar-nav d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center p-3">
                <li class="footer-list-color footer-border">credit</li>
                <li><a href="https://www.pexels.com" class="footer-credit">Pexels</a></li>
                <li><a href="https://fontawesome.com" class="footer-credit">Font Awesome</a></li>
            </div>
            <div class="d-flex flex-column align-items-center p-3">
                <li class="footer-list-color footer-border">contact</li>
                <li><a href="https://twitter.com/LepiS_VG" class="footer-credit">twitter</a></li>
                <li><a href="https://github.com/Koh0412" class="footer-credit">github</a></li>
            </div>
        </ul>
        <div class="text-center">
            <small class="ml-auto nav-item footer-list-color">2019 &copy; created by koh</small>
        </div>
    </nav>
</footer>